openapi: 3.1.0
info:
  title: Ctrl Hub
  version: 3.0.0
servers:
  - url: https://api.ctrl-hub.com
security:
  - bearerAuth: []
paths:
  "/v3/orgs":
    get:
      description: Returns all organisations that the caller has access to
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/organisationModel"
                  meta:
                    $ref: "#/components/schemas/meta"
                  links:
                    type: object
                    properties:
                      current:
                        type: string
                        example: https://api.ctrl-hub.com/v3/orgs?limit=10&offset=20
                      next:
                        type: string
                        example: https://api.ctrl-hub.com/v3/orgs?limit=10&offset=30
                      previous:
                        type: string
                        example: https://api.ctrl-hub.com/v3/orgs?limit=10&offset=10
        "404":
          $ref: "#/components/responses/notfound"
        "429":
          $ref: "#/components/responses/throttled"
    post:
      description: Use this endpoint to create a new organisation. The owner of the organisation will be the caller who is making the API call.
      requestBody:
        $ref: "#/components/requestBodies/organisationCreate"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    "$ref": "#/components/schemas/organisationModel"
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/orgs/{orgId}":
    get:
      description: Returns an organisation
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    "$ref": "#/components/schemas/organisationModel"
        "404":
          $ref: "#/components/responses/notfound"
        "429":
          $ref: "#/components/responses/throttled"
    put:
      description: Use this endpoint to update an organisation
      parameters:
        - $ref: "#/components/parameters/orgId"
      requestBody:
        $ref: "#/components/requestBodies/organisationUpdate"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    "$ref": "#/components/schemas/organisationModel"
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/orgs/{orgId}/data-capture/forms":
    get:
      description: Returns all forms for an organisation that the caller has access to
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/dataCaptureForm"
                  meta:
                    $ref: "#/components/schemas/meta"
                  links:
                    type: object
                    properties:
                      current:
                        type: string
                        example: https://api.ctrl-hub.com/v3/orgs/7e0c875a-fd47-401d-bd25-4278ed58d721/data-capture/forms?limit=10&offset=20
                      next:
                        type: string
                        example: https://api.ctrl-hub.com/v3/orgs/7e0c875a-fd47-401d-bd25-4278ed58d721/data-capture/forms?limit=10&offset=30
                      previous:
                        type: string
                        example: https://api.ctrl-hub.com/v3/orgs/7e0c875a-fd47-401d-bd25-4278ed58d721/data-capture/forms?limit=10&offset=10

        "404":
          $ref: "#/components/responses/notfound"
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/orgs/{orgId}/data-capture/forms/stats":
    get:
      description: Return submission statistics for this form over a given time period
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/timeCreatedAtSince"
        - $ref: "#/components/parameters/timeCreatedAtUntil"
        - $ref: "#/components/parameters/timeCreatedAtGranularity"
        - $ref: "#/components/parameters/authorID"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/dayStat"
                  meta:
                    type: object
                    properties:
                      headlines:
                        type: object
                        properties:
                          slices:
                            type: object
                            properties:
                              granularity:
                                type: string
                                example: day
                              count:
                                type: number
                                format: integer
                                example: 14
                          avg:
                            type: object
                            properties:
                              value:
                                type: number
                                format: double
                                example: 17.5
                          sum:
                            type: object
                            properties:
                              value:
                                type: integer
                                example: 245
  "/v3/orgs/{orgId}/data-capture/forms/meta/distinct":
    get:
      description: Returns all of the distinct values for a specific field
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/field"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/dataCaptureMetaDistinct"
        "404":
          $ref: "#/components/responses/notfound"
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/orgs/{orgId}/data-capture/submissions/meta/distinct":
    get:
      description: Returns all of the distinct values for a specific field
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/field"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/dataCaptureMetaDistinct"
        "404":
          $ref: "#/components/responses/notfound"
        "429":
          $ref: "#/components/responses/throttled"
  "/v3/orgs/{orgId}/data-capture/form-categories":
    get:
      description: Returns all form categories for an organisation
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/dataCaptureFormCategory"
                  meta:
                    $ref: "#/components/schemas/meta"
                  links:
                    type: object
                    properties:
                      current:
                        type: string
                        example: https://api.ctrl-hub.com/v3/orgs/7e0c875a-fd47-401d-bd25-4278ed58d721/data-capture/forms?limit=10&offset=20
                      next:
                        type: string
                        example: https://api.ctrl-hub.com/v3/orgs/7e0c875a-fd47-401d-bd25-4278ed58d721/data-capture/forms?limit=10&offset=30
                      previous:
                        type: string
                        example: https://api.ctrl-hub.com/v3/orgs/7e0c875a-fd47-401d-bd25-4278ed58d721/data-capture/forms?limit=10&offset=10

        "404":
          $ref: "#/components/responses/notfound"
        "429":
          $ref: "#/components/responses/throttled"
components:
  responses:
    notfound:
      description: Not Found
      content:
        application/json:
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  type: object
                  properties:
                    status:
                      type: string
                      example: "404"
                    message:
                      type: string
                      example: "You are trying to access a resource that does not exist."
    throttled:
      description: Not Found
      content:
        application/json:
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  type: object
                  properties:
                    status:
                      type: string
                      example: "429"
                    message:
                      type: string
                      example: "You have made too many requests and have been throttled."
  parameters:
    authorID:
      name: filter[author.id]
      in: query
      description: The author of the submissions to return
      schema:
        type: string
        format: uuid
        example: f078b255-7ff4-4425-8322-8e57e4aa772d
      required: false
    timeCreatedAtSince:
      name: filter[created_at.since]
      in: query
      description: The start time for the filter (in [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format)
      schema:
        type: string
        example: "2014-05-01T00:00:00Z"
      required: true
    timeCreatedAtUntil:
      name: filter[created_at.until]
      in: query
      description: The end time for the filter (in [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format)
      schema:
        type: string
        example: "2014-07-01T00:00:00Z"
      required: true
    timeCreatedAtGranularity:
      name: filter[created_at.granularity]
      in: query
      description: The granularity of the time buckets that we place the number of submissions into
      schema:
        type: string
        example: "day"
        enum:
          - year
          - month
          - day
          - hour
          - minute
      required: false
    orgId:
      name: orgId
      in: path
      description: The ID of the organisation
      schema:
        type: string
        example: ctrl-hub
      required: true
    limit:
      name: limit
      in: query
      description: Limit the number of resources returned by the API
      schema:
        type: integer
        default: 10
      required: false
    offset:
      name: offset
      in: query
      description: Offset for resources returned by the API
      schema:
        type: integer
        default: 0
      required: false
    sort:
      name: sort
      in: query
      description: A field in the resource to sort results with. Not all attributes are supported, please see the Object Model for **sortable** fields.
      schema:
        type: string
        default: created_at
      required: false
    field:
      name: field
      in: query
      description: The name of the field you want to get distinct data for
      schema:
        type: string
      required: true
  requestBodies:
    organisationCreate:
      description: ""
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  type:
                    type: string
                    example: organisations
                    description: The type of resource
                    enum:
                      - organisations
                  attributes:
                    type: object
                    properties:
                      name:
                        type: string
                        example: Ctrl Hub
                        description: The organisation name
                      description:
                        type: string
                        example: Ctrl Hub deliver best in class software for managing your compliance, safety, risk and resource requirements
                        description: A description for the organisation
                    required:
                      - name
                required:
                  - type
    organisationUpdate:
      description: ""
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  type:
                    type: string
                    example: organisations
                    description: The type of resource
                    enum:
                      - organisations
                  id:
                    type: string
                    format: uuid
                    example: 7e0c875a-fd47-401d-bd25-4278ed58d721
                    description: The ID of the resource
                  attributes:
                    type: object
                    properties:
                      name:
                        type: string
                        example: Ctrl Hub
                        description: The organisation name
                      description:
                        type: string
                        example: Ctrl Hub deliver best in class software for managing your compliance, safety, risk and resource requirements
                        description: A description for the organisation
                    required:
                      - name
                      - description
                required:
                  - type
                  - id
  schemas:
    organisationModel:
      type: object
      properties:
        type:
          type: string
          example: organisations
          description: The type of resource
          enum:
            - organisations
        id:
          type: string
          format: uuid
          description: The organisation ID
          example: 7e0c875a-fd47-401d-bd25-4278ed58d721
        attributes:
          type: object
          properties:
            name:
              type: string
              example: Ctrl Hub
              description: "**Sortable**. The organisation name."
            slug:
              type: string
              example: ctrl-hub
              description: "**Sortable**. The organisation slug, which is used in requests for subresources."
            description:
              type: string
              example: Ctrl Hub deliver best in class software for managing your compliance, safety, risk and resource requirements
              description: A description for the organisation
        meta:
          type: object
          properties:
            created_at:
              type: string
              example: 2024-06-13T07:15:23Z
              description: "**Sortable**. The time the organisation was created ([RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339))"
            status:
              type: string
              example: active
              enum:
                - active
                - suspended
              description: "**Sortable**. The current status of the organisation"
            counts:
              type: object
              properties:
                members:
                  type: integer
                  description: a count of members within the organisation - this is dummy data for now
                projects:
                  type: integer
                  description: a count of projects within the organisation - this is dummy data for now
                risk:
                  type: object
                  description: a count of risks
                  properties:
                    ok:
                      type: integer
                      description: a count of entities which have an "ok" risk status - this is dummy data for now
                    at_risk:
                      type: integer
                      description: a count of entities which have an "at risk" risk status - this is dummy data for now
                    attention:
                      type: integer
                      description: a count of entities which have an "attention" risk status - this is dummy data for now
        relationships:
          type: object
          properties:
            owners:
              type: object
              description: The id of users who are owners of the organisation
              properties:
                data:
                  type: array
                  items:
                    $ref: "#/components/schemas/userRelationships"
        links:
          type: object
          properties:
            self:
              type: string
              example: https://api.ctrl-hub.com/v3/orgs/7e0c875a-fd47-401d-bd25-4278ed58d721
    meta:
      type: object
      properties:
        counts:
          type: object
          properties:
            limit:
              type: integer
              example: 10
        page:
          type: object
          properties:
            limit:
              type: integer
              example: 10
            offset:
              type: object
              properties:
                current:
                  type: integer
                  example: 20
                next:
                  type: integer
                  example: 30
                previous:
                  type: integer
                  example: 10
    dayStat:
      type: object
      properties:
        type:
          type: string
          example: stats
          enum:
            - stats
          description: The resource type
        attributes:
          type: object
          properties:
            granularity:
              type: string
              example: "day"
            time:
              type: string
              example: "2024-06-28T08:50"
              description: The format of the time will change depending on the granularity. For example, `day` will output `2024-06-28` where as `year` will output `2024`. If you need more accuracy, it is in the `data.meta` field
            value:
              type: integer
              example: 245
        meta:
          type: object
          properties:
            time:
              type: object
              properties:
                since:
                  type: object
                  properties:
                    formatted:
                      type: object
                      properties:
                        rfc3339:
                          type: string
                          example: "2024-06-28T08:50:00Z"
                    parts:
                      type: object
                      properties:
                        year:
                          type: integer
                          example: 2024
                        month:
                          type: integer
                          example: 06
                        day:
                          type: integer
                          example: 28
                        hour:
                          type: integer
                          example: 08
                        minute:
                          type: integer
                          example: 50
                until:
                  type: object
                  properties:
                    formatted:
                      type: object
                      properties:
                        rfc3339:
                          type: string
                          example: "2024-06-28T08:51:00Z"
                    parts:
                      type: object
                      properties:
                        year:
                          type: integer
                          example: 2024
                        month:
                          type: integer
                          example: 06
                        day:
                          type: integer
                          example: 28
                        hour:
                          type: integer
                          example: 08
                        minute:
                          type: integer
                          example: 51
    dataCaptureFormCategory:
      type: object
      properties:
        type:
          type: string
          example: form_categories
          enum:
            - form_categories
          description: The resource type
        id:
          type: string
          format: uuid
          example: 92dbb844-8524-60bf-c12e-1eaf5c04
          description: The ID of the form
        attributes:
          type: object
          properties:
            name:
              type: string
              example: Health and Safety
              description: "**Sortable**. The name of the category"
        meta:
          type: object
          properties:
            created_at:
              type: string
              example: 2024-06-13T08:28:17Z
              description: The time the category was created ([RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339))
        # links:
        #   type: object
        #   properties:
        #     self:
        #       type: string
        #       example: https://api.ctrl-hub.com/v3/orgs/7e0c875a-fd47-401d-bd25-4278ed58d721/data-capture/forms/92dbb844-8524-60bf-c12e-1eaf5c04
    dataCaptureForm:
      type: object
      properties:
        type:
          type: string
          example: forms
          enum:
            - forms
          description: The resource type
        id:
          type: string
          format: uuid
          example: 92dbb844-8524-60bf-c12e-1eaf5c04
          description: The ID of the form
        attributes:
          type: object
          properties:
            name:
              type: string
              example: My Form
              description: The name of the form
            description:
              type: string
              example: This is a form which captures lots of useful information
              description: Additional description of the form, for example, what it is used for
            status:
              type: string
              example: published
              enum:
                - published
                - draft
                - hidden
                - archived
              description: The current status of the form
        meta:
          type: object
          properties:
            created_at:
              type: string
              example: 2024-06-13T08:28:17Z
              description: The time the form was created ([RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339))
        relationships:
          type: object
          properties:
            categories:
              type: object
              properties:
                data:
                  type: array
                  items:
                    $ref: "#/components/schemas/dataCaptureCategoryRelationships"
        links:
          type: object
          properties:
            self:
              type: string
              example: https://api.ctrl-hub.com/v3/orgs/7e0c875a-fd47-401d-bd25-4278ed58d721/data-capture/forms/92dbb844-8524-60bf-c12e-1eaf5c04
    dataCaptureCategoryRelationships:
      type: object
      properties:
        type:
          type: string
          example: form_categories
          enum:
            - form_categories
          description: The resource type
        id:
          type: string
          format: uuid
          example: b60e2af5-6a84-0eb0-feaa-84384a94
          description: The ID of the form category
    dataCaptureMetaDistinct:
      properties:
        type:
          type: string
          example: distinct
          enum:
            - distinct
          description: The resource type
        attributes:
          type: object
          properties:
            value:
              type: string
              example: published
              description: The value of the requested field
    userRelationships:
      type: object
      properties:
        type:
          type: string
          example: users
          enum:
            - users
          description: The resource type
        id:
          type: string
          format: uuid
          example: c9927007-a8e3-46bc-b507-7867b114bef5
          description: The ID of the user
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
