openapi: "3.1.0"
info:
  title: Ctrl Hub
  summary: An API for managing your compliance and risk posture
  description: |
    Ctrl Hub is the all-in-one platform for high-risk industries like utilities, construction, infrastructure, and renewables. We help teams manage everything from risk assessments and HAVS exposure to vehicle and equipment checks, with a guaranteed minimum of 200% ROI.
  version: 1.0.0
  termsOfService: https://www.ctrl-hub.com/terms-conditions
servers:
  - url: "https://api.ctrl-hub.com"
    description: Production
tags:
  - name: Specifications
    description: |
      Provides the API specification in JSON and YAML formats
  - name: Organisations
    description: |
      Organisations are the center point for most resources in the platform. Most other endpoints are subresources of an organisation.
  - name: Properties
    description: |
      Properties are the physical locations.
  - name: Forms
    description: |
      Forms are dynamic templates that can be used to collect data.
components:
  securitySchemes:
    Session:
      type: apiKey
      name: X-Session-Token
      in: header
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.ctrl-hub.com/oauth2/token
          scopes: {}
    Cookie:
      type: apiKey
      in: cookie
      name: ctrl_hub_session
paths:
  /spec.json:
    get:
      operationId: GetJSONSpec
      summary: Get the API spec in JSON format
      description: Returns the full API spec in JSON format.
      tags:
        - Specifications
      responses:
        "200":
          description: Get the JSON spec
          headers:
            Content-Type:
              description: >-
                The content type of the response
              schema:
                type: string
              example: application/vnd.api+json
            Content-Length:
              description: >-
                The length of the response body in bytes
              schema:
                type: integer
                format: int32
              example: 1234
            X-Request-ID:
              description: >-
                An ID that can be provided when reporting bugs to help identify the issue
              schema:
                type: string
              example: 8470f56af4cf25e22be08e72c70dbbdc
          content:
            application/json:
              schema:
                type: object
        "400":
          description: |
            There was an error with the request - this could be due to an invalid body, query parameters,
            or headers that were sent to the API.
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: >-
                            A unique identifier for this particular occurrence of the problem. If you encounter this, please provide us with the error ID and we can investigate it on our side.
                          type: string
                          format: uuid
                          examples: ["05fc9c8d-73b9-4697-9337-57f7a567a48f"]
                        status:
                          description: >-
                            The status code for the error. This might not match the HTTP status code if there are more that one errors to return with different status codes.
                          type: string
                          examples: ["401", "500"]
                        title:
                          description: >-
                            A human readable title for the error.
                          type: string
                          examples:
                            ["You are not authorised to access this resource"]
                        detail:
                          description: >-
                            Where there is more detail that we can provide outside of the title, we will provide it here.
                          type: string
                          examples:
                            [
                              "In order to access this resource, you need the 'admin' role.",
                            ]
                        code:
                          description: >-
                            A unique code for the error that may help us to diagnose the issue. Not all errors have codes, so this is usually empty.
                          type: string
                          examples: ["AUTH.001"]
                        source:
                          description: >-
                            A JSON object containing additional information about the error.
                          type: object
                          properties:
                            pointer:
                              description: >-
                                A JSON Pointer to the value in the request that caused the error.
                              type: string
                              examples: ["/data/attributes/email"]
                            parameter:
                              description: >-
                                A string indicating which query parameter in the request caused the error.
                              type: string
                              examples: ["include"]
                          meta:
                            description: >-
                              A JSON object containing additional information about the error.

                              When a parameter caused the error, there will be a `resource` property with the name of the resource that caused the error.
                            type: object
                      required:
                        - id
                        - status
                        - title
              example:
                errors:
                  - id: 98ca4a78-b66f-4234-9719-aaf832ee6669
                    status: "400"
                    title: A validation error was encountered
                    source:
                      parameter: include
                    meta:
                      resource: wrong_value
        "500":
          description: There was a problem handling the request on the server side
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: >-
                            A unique identifier for this particular occurrence of the problem. If you encounter this, please provide us with the error ID and we can investigate it on our side.
                          type: string
                          format: uuid
                          examples: ["05fc9c8d-73b9-4697-9337-57f7a567a48f"]
                        status:
                          description: >-
                            The status code for the error. This might not match the HTTP status code if there are more that one errors to return with different status codes.
                          type: string
                          examples: ["401", "500"]
                        title:
                          description: >-
                            A human readable title for the error.
                          type: string
                          examples:
                            ["You are not authorised to access this resource"]
                        detail:
                          description: >-
                            Where there is more detail that we can provide outside of the title, we will provide it here.
                          type: string
                          examples:
                            [
                              "In order to access this resource, you need the 'admin' role.",
                            ]
                        code:
                          description: >-
                            A unique code for the error that may help us to diagnose the issue. Not all errors have codes, so this is usually empty.
                          type: string
                          examples: ["AUTH.001"]
                        source:
                          description: >-
                            A JSON object containing additional information about the error.
                          type: object
                          properties:
                            pointer:
                              description: >-
                                A JSON Pointer to the value in the request that caused the error.
                              type: string
                              examples: ["/data/attributes/email"]
                            parameter:
                              description: >-
                                A string indicating which query parameter in the request caused the error.
                              type: string
                              examples: ["include"]
                          meta:
                            description: >-
                              A JSON object containing additional information about the error.

                              When a parameter caused the error, there will be a `resource` property with the name of the resource that caused the error.
                            type: object
                      required:
                        - id
                        - status
                        - title
              example:
                errors:
                  - id: fe9d9a69-f0a7-4fdc-bb2c-176027f316c5
                    status: "500"
                    title: Internal Server Error
                    detail: An unexpected error occurred on the server.
  /spec.yaml:
    get:
      operationId: GetYAMLSpec
      summary: Get the API spec in YAML format
      description: Returns the full API spec in YAML format.
      tags:
        - Specifications
      responses:
        "200":
          description: Get the YAML spec
          headers:
            Content-Type:
              description: >-
                The content type of the response
              schema:
                type: string
              example: application/vnd.api+json
            Content-Length:
              description: >-
                The length of the response body in bytes
              schema:
                type: integer
                format: int32
              example: 1234
            X-Request-ID:
              description: >-
                An ID that can be provided when reporting bugs to help identify the issue
              schema:
                type: string
              example: 8470f56af4cf25e22be08e72c70dbbdc
          content:
            application/yaml:
              schema:
                type: string
        "400":
          description: |
            There was an error with the request - this could be due to an invalid body, query parameters,
            or headers that were sent to the API.
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: >-
                            A unique identifier for this particular occurrence of the problem. If you encounter this, please provide us with the error ID and we can investigate it on our side.
                          type: string
                          format: uuid
                          examples: ["05fc9c8d-73b9-4697-9337-57f7a567a48f"]
                        status:
                          description: >-
                            The status code for the error. This might not match the HTTP status code if there are more that one errors to return with different status codes.
                          type: string
                          examples: ["401", "500"]
                        title:
                          description: >-
                            A human readable title for the error.
                          type: string
                          examples:
                            ["You are not authorised to access this resource"]
                        detail:
                          description: >-
                            Where there is more detail that we can provide outside of the title, we will provide it here.
                          type: string
                          examples:
                            [
                              "In order to access this resource, you need the 'admin' role.",
                            ]
                        code:
                          description: >-
                            A unique code for the error that may help us to diagnose the issue. Not all errors have codes, so this is usually empty.
                          type: string
                          examples: ["AUTH.001"]
                        source:
                          description: >-
                            A JSON object containing additional information about the error.
                          type: object
                          properties:
                            pointer:
                              description: >-
                                A JSON Pointer to the value in the request that caused the error.
                              type: string
                              examples: ["/data/attributes/email"]
                            parameter:
                              description: >-
                                A string indicating which query parameter in the request caused the error.
                              type: string
                              examples: ["include"]
                          meta:
                            description: >-
                              A JSON object containing additional information about the error.

                              When a parameter caused the error, there will be a `resource` property with the name of the resource that caused the error.
                            type: object
                      required:
                        - id
                        - status
                        - title
              example:
                errors:
                  - id: 98ca4a78-b66f-4234-9719-aaf832ee6669
                    status: "400"
                    title: A validation error was encountered
                    source:
                      parameter: include
                    meta:
                      resource: wrong_value
        "500":
          description: There was a problem handling the request on the server side
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: >-
                            A unique identifier for this particular occurrence of the problem. If you encounter this, please provide us with the error ID and we can investigate it on our side.
                          type: string
                          format: uuid
                          examples: ["05fc9c8d-73b9-4697-9337-57f7a567a48f"]
                        status:
                          description: >-
                            The status code for the error. This might not match the HTTP status code if there are more that one errors to return with different status codes.
                          type: string
                          examples: ["401", "500"]
                        title:
                          description: >-
                            A human readable title for the error.
                          type: string
                          examples:
                            ["You are not authorised to access this resource"]
                        detail:
                          description: >-
                            Where there is more detail that we can provide outside of the title, we will provide it here.
                          type: string
                          examples:
                            [
                              "In order to access this resource, you need the 'admin' role.",
                            ]
                        code:
                          description: >-
                            A unique code for the error that may help us to diagnose the issue. Not all errors have codes, so this is usually empty.
                          type: string
                          examples: ["AUTH.001"]
                        source:
                          description: >-
                            A JSON object containing additional information about the error.
                          type: object
                          properties:
                            pointer:
                              description: >-
                                A JSON Pointer to the value in the request that caused the error.
                              type: string
                              examples: ["/data/attributes/email"]
                            parameter:
                              description: >-
                                A string indicating which query parameter in the request caused the error.
                              type: string
                              examples: ["include"]
                          meta:
                            description: >-
                              A JSON object containing additional information about the error.

                              When a parameter caused the error, there will be a `resource` property with the name of the resource that caused the error.
                            type: object
                      required:
                        - id
                        - status
                        - title
              example:
                errors:
                  - id: fe9d9a69-f0a7-4fdc-bb2c-176027f316c5
                    status: "500"
                    title: Internal Server Error
                    detail: An unexpected error occurred on the server.
  /v3/orgs:
    get:
      operationId: ListOrganisations
      summary: List all Organisations
      description: List all of the organisations you have access to.
      tags:
        - Organisations
      parameters:
        - name: limit
          in: query
          description: Limit the number of resources returned by the API
          required: false
          schema:
            type: integer
            format: int64
            default: 100
        - name: offset
          in: query
          description: Offset the resources returned by the API
          required: false
          schema:
            type: integer
            format: int64
            default: 0
        - name: filter
          in: query
          description: |
            Filters the response data based on the value provided.
            For more information on using named filters, see [the docs](https://docs.ctrl-hub.com/api-reference/features#filtering)
          required: false
          schema:
            type: string
            default: ""
        - in: query
          name: sort
          description: A comma separated list of fields to sort by.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - name
                - -name
                - slug
                - -slug
      responses:
        "200":
          description: Get a list of organisations.
          headers:
            Content-Type:
              description: >-
                The content type of the response
              schema:
                type: string
              example: application/vnd.api+json
            Content-Length:
              description: >-
                The length of the response body in bytes
              schema:
                type: integer
                format: int32
              example: 1234
            X-Request-ID:
              description: >-
                An ID that can be provided when reporting bugs to help identify the issue
              schema:
                type: string
              example: 8470f56af4cf25e22be08e72c70dbbdc
          content:
            application/vnd.api+json:
              schema:
                allOf:
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        title: A list of organisations
                        type: array
                        items:
                          required:
                            - id
                            - name
                          properties:
                            id:
                              type: string
                              format: uuid
                            type:
                              type: string
                              enum: [organisations]
                              default: organisations
                            attributes:
                              type: object
                              required:
                                - name
                                - slug
                              properties:
                                name:
                                  type: string
                                slug:
                                  type: string
                                description:
                                  type: string
                                  description: A short description of the organisation
                                settings:
                                  type: object
                                  properties:
                                    nomenclature:
                                      type: object
                                      properties:
                                        governance:
                                          type: object
                                          properties:
                                            schemes:
                                              type: array
                                              items:
                                                type: object
                                                properties:
                                                  singular:
                                                    type: string
                                                  plural:
                                                    type: string
                                                  language:
                                                    type: string
                                            work_orders:
                                              type: array
                                              items:
                                                type: object
                                                properties:
                                                  singular:
                                                    type: string
                                                  plural:
                                                    type: string
                                                  language:
                                                    type: string
                                            operations:
                                              type: array
                                              items:
                                                type: object
                                                properties:
                                                  singular:
                                                    type: string
                                                  plural:
                                                    type: string
                                                  language:
                                                    type: string
                            meta:
                              type: object
                              properties:
                                created_at:
                                  type: string
                                  format: date-time
                                status:
                                  type: string
                                  enum: [active, inactive]
                                  default: active
                                features:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      name:
                                        type: string
                                      enabled:
                                        type: boolean
                                      limit:
                                        type: integer
                          examples:
                            - id: c000c344-8847-47da-a091-32e75902d3b1
                              type: organisations
                              attributes:
                                name: Ctrl Hub
                                slug: ctrl-hub
                                settings:
                                  nomenclature:
                                    governance:
                                      schemes:
                                        - singular: Phase
                                          plural: Phases
                                          language: en-GB
                                      work_orders:
                                        - singular: Project
                                          plural: Projects
                                          language: en-GB
                                      operations:
                                        - singular: Task
                                          plural: Tasks
                                          language: en-GB
                              meta:
                                status: active
                                features:
                                  - name: customers
                                    enabled: true
                                    limit: 10
                  - type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          features:
                            type: object
                            properties:
                              include:
                                type: object
                                properties:
                                  options:
                                    type: array
                                    items:
                                      type: string
                                      examples:
                                        - related.resource
                          pagination:
                            type: object
                            properties:
                              counts:
                                type: object
                                properties:
                                  pages:
                                    type: integer
                                    examples:
                                      - 1
                                  resources:
                                    type: integer
                                    examples:
                                      - 1
                              current_page:
                                type: integer
                                examples:
                                  - 1
                              offsets:
                                type: object
                                properties:
                                  next:
                                    type: integer
                                    examples:
                                      - null
                                  previous:
                                    type: integer
                                    examples:
                                      - null
                              requested:
                                type: object
                                properties:
                                  limit:
                                    type: integer
                                    examples:
                                      - 10
                                  offset:
                                    type: integer
                                    examples:
                                      - 0
                  - type: object
                    properties:
                      jsonapi:
                        type: object
                        properties:
                          version:
                            type: string
                            description: The version of the JSON API specification
                            examples:
                              - "1.0"
        "400":
          description: |
            There was an error with the request - this could be due to an invalid body, query parameters,
            or headers that were sent to the API.
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: >-
                            A unique identifier for this particular occurrence of the problem. If you encounter this, please provide us with the error ID and we can investigate it on our side.
                          type: string
                          format: uuid
                          examples: ["05fc9c8d-73b9-4697-9337-57f7a567a48f"]
                        status:
                          description: >-
                            The status code for the error. This might not match the HTTP status code if there are more that one errors to return with different status codes.
                          type: string
                          examples: ["401", "500"]
                        title:
                          description: >-
                            A human readable title for the error.
                          type: string
                          examples:
                            ["You are not authorised to access this resource"]
                        detail:
                          description: >-
                            Where there is more detail that we can provide outside of the title, we will provide it here.
                          type: string
                          examples:
                            [
                              "In order to access this resource, you need the 'admin' role.",
                            ]
                        code:
                          description: >-
                            A unique code for the error that may help us to diagnose the issue. Not all errors have codes, so this is usually empty.
                          type: string
                          examples: ["AUTH.001"]
                        source:
                          description: >-
                            A JSON object containing additional information about the error.
                          type: object
                          properties:
                            pointer:
                              description: >-
                                A JSON Pointer to the value in the request that caused the error.
                              type: string
                              examples: ["/data/attributes/email"]
                            parameter:
                              description: >-
                                A string indicating which query parameter in the request caused the error.
                              type: string
                              examples: ["include"]
                          meta:
                            description: >-
                              A JSON object containing additional information about the error.

                              When a parameter caused the error, there will be a `resource` property with the name of the resource that caused the error.
                            type: object
                      required:
                        - id
                        - status
                        - title
              example:
                errors:
                  - id: 98ca4a78-b66f-4234-9719-aaf832ee6669
                    status: "400"
                    title: A validation error was encountered
                    source:
                      parameter: include
                    meta:
                      resource: wrong_value
        "401":
          description: Authentication failed
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: >-
                            A unique identifier for this particular occurrence of the problem. If you encounter this, please provide us with the error ID and we can investigate it on our side.
                          type: string
                          format: uuid
                          examples: ["05fc9c8d-73b9-4697-9337-57f7a567a48f"]
                        status:
                          description: >-
                            The status code for the error. This might not match the HTTP status code if there are more that one errors to return with different status codes.
                          type: string
                          examples: ["401", "500"]
                        title:
                          description: >-
                            A human readable title for the error.
                          type: string
                          examples:
                            ["You are not authorised to access this resource"]
                        detail:
                          description: >-
                            Where there is more detail that we can provide outside of the title, we will provide it here.
                          type: string
                          examples:
                            [
                              "In order to access this resource, you need the 'admin' role.",
                            ]
                        code:
                          description: >-
                            A unique code for the error that may help us to diagnose the issue. Not all errors have codes, so this is usually empty.
                          type: string
                          examples: ["AUTH.001"]
                        source:
                          description: >-
                            A JSON object containing additional information about the error.
                          type: object
                          properties:
                            pointer:
                              description: >-
                                A JSON Pointer to the value in the request that caused the error.
                              type: string
                              examples: ["/data/attributes/email"]
                            parameter:
                              description: >-
                                A string indicating which query parameter in the request caused the error.
                              type: string
                              examples: ["include"]
                          meta:
                            description: >-
                              A JSON object containing additional information about the error.

                              When a parameter caused the error, there will be a `resource` property with the name of the resource that caused the error.
                            type: object
                      required:
                        - id
                        - status
                        - title
              example:
                errors:
                  - id: 05fc9c8d-73b9-4697-9337-57f7a567a48f
                    status: "401"
                    title: You are not authorised to access this resource
                    detail: In order to access this resource, you need the 'admin' role.
                    code: AUTH.001
        "500":
          description: There was a problem handling the request on the server side
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: >-
                            A unique identifier for this particular occurrence of the problem. If you encounter this, please provide us with the error ID and we can investigate it on our side.
                          type: string
                          format: uuid
                          examples: ["05fc9c8d-73b9-4697-9337-57f7a567a48f"]
                        status:
                          description: >-
                            The status code for the error. This might not match the HTTP status code if there are more that one errors to return with different status codes.
                          type: string
                          examples: ["401", "500"]
                        title:
                          description: >-
                            A human readable title for the error.
                          type: string
                          examples:
                            ["You are not authorised to access this resource"]
                        detail:
                          description: >-
                            Where there is more detail that we can provide outside of the title, we will provide it here.
                          type: string
                          examples:
                            [
                              "In order to access this resource, you need the 'admin' role.",
                            ]
                        code:
                          description: >-
                            A unique code for the error that may help us to diagnose the issue. Not all errors have codes, so this is usually empty.
                          type: string
                          examples: ["AUTH.001"]
                        source:
                          description: >-
                            A JSON object containing additional information about the error.
                          type: object
                          properties:
                            pointer:
                              description: >-
                                A JSON Pointer to the value in the request that caused the error.
                              type: string
                              examples: ["/data/attributes/email"]
                            parameter:
                              description: >-
                                A string indicating which query parameter in the request caused the error.
                              type: string
                              examples: ["include"]
                          meta:
                            description: >-
                              A JSON object containing additional information about the error.

                              When a parameter caused the error, there will be a `resource` property with the name of the resource that caused the error.
                            type: object
                      required:
                        - id
                        - status
                        - title
              example:
                errors:
                  - id: fe9d9a69-f0a7-4fdc-bb2c-176027f316c5
                    status: "500"
                    title: Internal Server Error
                    detail: An unexpected error occurred on the server.
      security:
        - Session: []
        - OAuth2: []
        - Cookie: []
  /v3/orgs/{org_id}:
    get:
      operationId: GetOrganisation
      summary: Get an Organisation
      description: Get an individual organisation by its ID.
      tags:
        - Organisations
      parameters:
        - in: path
          name: org_id
          description: A unique identifier for an Organisation.
          required: true
          schema:
            type: string
            format: uuid
            minimum: 1
          example: c000c344-8847-47da-a091-32e75902d3b1
      responses:
        "200":
          description: Get an organisation.
          headers:
            Content-Type:
              description: >-
                The content type of the response
              schema:
                type: string
              example: application/vnd.api+json
            Content-Length:
              description: >-
                The length of the response body in bytes
              schema:
                type: integer
                format: int32
              example: 1234
            X-Request-ID:
              description: >-
                An ID that can be provided when reporting bugs to help identify the issue
              schema:
                type: string
              example: 8470f56af4cf25e22be08e72c70dbbdc
          content:
            application/vnd.api+json:
              schema:
                allOf:
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        required:
                          - id
                          - name
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum: [organisations]
                            default: organisations
                          attributes:
                            type: object
                            required:
                              - name
                              - slug
                            properties:
                              name:
                                type: string
                              slug:
                                type: string
                              description:
                                type: string
                                description: A short description of the organisation
                              settings:
                                type: object
                                properties:
                                  nomenclature:
                                    type: object
                                    properties:
                                      governance:
                                        type: object
                                        properties:
                                          schemes:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                singular:
                                                  type: string
                                                plural:
                                                  type: string
                                                language:
                                                  type: string
                                          work_orders:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                singular:
                                                  type: string
                                                plural:
                                                  type: string
                                                language:
                                                  type: string
                                          operations:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                singular:
                                                  type: string
                                                plural:
                                                  type: string
                                                language:
                                                  type: string
                          meta:
                            type: object
                            properties:
                              created_at:
                                type: string
                                format: date-time
                              status:
                                type: string
                                enum: [active, inactive]
                                default: active
                              features:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                    enabled:
                                      type: boolean
                                    limit:
                                      type: integer
                        examples:
                          - id: c000c344-8847-47da-a091-32e75902d3b1
                            type: organisations
                            attributes:
                              name: Ctrl Hub
                              slug: ctrl-hub
                              settings:
                                nomenclature:
                                  governance:
                                    schemes:
                                      - singular: Phase
                                        plural: Phases
                                        language: en-GB
                                    work_orders:
                                      - singular: Project
                                        plural: Projects
                                        language: en-GB
                                    operations:
                                      - singular: Task
                                        plural: Tasks
                                        language: en-GB
                            meta:
                              status: active
                              features:
                                - name: customers
                                  enabled: true
                                  limit: 10
                  - type: object
                    properties:
                      jsonapi:
                        type: object
                        properties:
                          version:
                            type: string
                            description: The version of the JSON API specification
                            examples:
                              - "1.0"
        "400":
          description: |
            There was an error with the request - this could be due to an invalid body, query parameters,
            or headers that were sent to the API.
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: >-
                            A unique identifier for this particular occurrence of the problem. If you encounter this, please provide us with the error ID and we can investigate it on our side.
                          type: string
                          format: uuid
                          examples: ["05fc9c8d-73b9-4697-9337-57f7a567a48f"]
                        status:
                          description: >-
                            The status code for the error. This might not match the HTTP status code if there are more that one errors to return with different status codes.
                          type: string
                          examples: ["401", "500"]
                        title:
                          description: >-
                            A human readable title for the error.
                          type: string
                          examples:
                            ["You are not authorised to access this resource"]
                        detail:
                          description: >-
                            Where there is more detail that we can provide outside of the title, we will provide it here.
                          type: string
                          examples:
                            [
                              "In order to access this resource, you need the 'admin' role.",
                            ]
                        code:
                          description: >-
                            A unique code for the error that may help us to diagnose the issue. Not all errors have codes, so this is usually empty.
                          type: string
                          examples: ["AUTH.001"]
                        source:
                          description: >-
                            A JSON object containing additional information about the error.
                          type: object
                          properties:
                            pointer:
                              description: >-
                                A JSON Pointer to the value in the request that caused the error.
                              type: string
                              examples: ["/data/attributes/email"]
                            parameter:
                              description: >-
                                A string indicating which query parameter in the request caused the error.
                              type: string
                              examples: ["include"]
                          meta:
                            description: >-
                              A JSON object containing additional information about the error.

                              When a parameter caused the error, there will be a `resource` property with the name of the resource that caused the error.
                            type: object
                      required:
                        - id
                        - status
                        - title
              example:
                errors:
                  - id: 98ca4a78-b66f-4234-9719-aaf832ee6669
                    status: "400"
                    title: A validation error was encountered
                    source:
                      parameter: include
                    meta:
                      resource: wrong_value
        "401":
          description: Authentication failed
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: >-
                            A unique identifier for this particular occurrence of the problem. If you encounter this, please provide us with the error ID and we can investigate it on our side.
                          type: string
                          format: uuid
                          examples: ["05fc9c8d-73b9-4697-9337-57f7a567a48f"]
                        status:
                          description: >-
                            The status code for the error. This might not match the HTTP status code if there are more that one errors to return with different status codes.
                          type: string
                          examples: ["401", "500"]
                        title:
                          description: >-
                            A human readable title for the error.
                          type: string
                          examples:
                            ["You are not authorised to access this resource"]
                        detail:
                          description: >-
                            Where there is more detail that we can provide outside of the title, we will provide it here.
                          type: string
                          examples:
                            [
                              "In order to access this resource, you need the 'admin' role.",
                            ]
                        code:
                          description: >-
                            A unique code for the error that may help us to diagnose the issue. Not all errors have codes, so this is usually empty.
                          type: string
                          examples: ["AUTH.001"]
                        source:
                          description: >-
                            A JSON object containing additional information about the error.
                          type: object
                          properties:
                            pointer:
                              description: >-
                                A JSON Pointer to the value in the request that caused the error.
                              type: string
                              examples: ["/data/attributes/email"]
                            parameter:
                              description: >-
                                A string indicating which query parameter in the request caused the error.
                              type: string
                              examples: ["include"]
                          meta:
                            description: >-
                              A JSON object containing additional information about the error.

                              When a parameter caused the error, there will be a `resource` property with the name of the resource that caused the error.
                            type: object
                      required:
                        - id
                        - status
                        - title
              example:
                errors:
                  - id: 05fc9c8d-73b9-4697-9337-57f7a567a48f
                    status: "401"
                    title: You are not authorised to access this resource
                    detail: In order to access this resource, you need the 'admin' role.
                    code: AUTH.001
        "500":
          description: There was a problem handling the request on the server side
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: >-
                            A unique identifier for this particular occurrence of the problem. If you encounter this, please provide us with the error ID and we can investigate it on our side.
                          type: string
                          format: uuid
                          examples: ["05fc9c8d-73b9-4697-9337-57f7a567a48f"]
                        status:
                          description: >-
                            The status code for the error. This might not match the HTTP status code if there are more that one errors to return with different status codes.
                          type: string
                          examples: ["401", "500"]
                        title:
                          description: >-
                            A human readable title for the error.
                          type: string
                          examples:
                            ["You are not authorised to access this resource"]
                        detail:
                          description: >-
                            Where there is more detail that we can provide outside of the title, we will provide it here.
                          type: string
                          examples:
                            [
                              "In order to access this resource, you need the 'admin' role.",
                            ]
                        code:
                          description: >-
                            A unique code for the error that may help us to diagnose the issue. Not all errors have codes, so this is usually empty.
                          type: string
                          examples: ["AUTH.001"]
                        source:
                          description: >-
                            A JSON object containing additional information about the error.
                          type: object
                          properties:
                            pointer:
                              description: >-
                                A JSON Pointer to the value in the request that caused the error.
                              type: string
                              examples: ["/data/attributes/email"]
                            parameter:
                              description: >-
                                A string indicating which query parameter in the request caused the error.
                              type: string
                              examples: ["include"]
                          meta:
                            description: >-
                              A JSON object containing additional information about the error.

                              When a parameter caused the error, there will be a `resource` property with the name of the resource that caused the error.
                            type: object
                      required:
                        - id
                        - status
                        - title
              example:
                errors:
                  - id: fe9d9a69-f0a7-4fdc-bb2c-176027f316c5
                    status: "500"
                    title: Internal Server Error
                    detail: An unexpected error occurred on the server.
      security:
        - Session: []
        - OAuth2: []
        - Cookie: []
  /v3/orgs/{org_id}/data-capture/form-categories:
    get:
      operationId: ListFormCategories
      summary: List all form categories
      description: List all of the form categories you have access to.
      tags:
        - Forms
      parameters:
        - in: path
          name: org_id
          description: A unique identifier for an Organisation.
          required: true
          schema:
            type: string
            format: uuid
            minimum: 1
          example: c000c344-8847-47da-a091-32e75902d3b1
        - in: query
          name: include
          description: A comma separated list of related resources to include.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - forms
                - organisation
        - name: limit
          in: query
          description: Limit the number of resources returned by the API
          required: false
          schema:
            type: integer
            format: int64
            default: 100
        - name: offset
          in: query
          description: Offset the resources returned by the API
          required: false
          schema:
            type: integer
            format: int64
            default: 0
        - name: filter
          in: query
          description: |
            Filters the response data based on the value provided.
            For more information on using named filters, see [the docs](https://docs.ctrl-hub.com/api-reference/features#filtering)
          required: false
          schema:
            type: string
            default: ""
      responses:
        "200":
          description: Get a list of form categories.
          headers:
            Content-Type:
              description: >-
                The content type of the response
              schema:
                type: string
              example: application/vnd.api+json
            Content-Length:
              description: >-
                The length of the response body in bytes
              schema:
                type: integer
                format: int32
              example: 1234
            X-Request-ID:
              description: >-
                An ID that can be provided when reporting bugs to help identify the issue
              schema:
                type: string
              example: 8470f56af4cf25e22be08e72c70dbbdc
          content:
            application/vnd.api+json:
              schema:
                allOf:
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        title: A list of form categories
                        type: array
                        items:
                          allOf:
                            - type: object
                              required:
                                - type
                                - attributes
                              properties:
                                type:
                                  type: string
                                  enum: [form-categories]
                                  default: form-categories
                                attributes:
                                  type: object
                                  required:
                                    - name
                                  properties:
                                    name:
                                      type: string
                                relationships:
                                  type: object
                                  properties:
                                    organisation:
                                      type: object
                                      properties:
                                        data:
                                          type: object
                                          properties:
                                            id:
                                              type: string
                                              format: uuid
                                            type:
                                              type: string
                                              enum: [organisations]
                                              default: organisations
                                    forms:
                                      type: object
                                      properties:
                                        data:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              id:
                                                type: string
                                                format: uuid
                                              type:
                                                type: string
                                                enum: [forms]
                                                default: forms
                                meta:
                                  type: object
                                  properties:
                                    created_at:
                                      type: string
                                      format: date-time
                                    updated_at:
                                      type: string
                                      format: date-time
                                    counts:
                                      type: object
                                      properties:
                                        forms:
                                          type: integer
                                          description: The number of forms in this category.
                                          format: int64
                                          minimum: 0
                                          default: 0
                              examples:
                                - type: form-categories
                                  attributes:
                                    name: Important Forms
                            - type: object
                              required:
                                - id
                              properties:
                                id:
                                  type: string
                                  format: uuid
                          examples:
                            - id: ad0204e1-ad22-46d5-9ae4-e62ca963724d
                              type: form-categories
                              attributes:
                                name: Important Forms
                              relationships:
                                organisation:
                                  data:
                                    id: c000c344-8847-47da-a091-32e75902d3b1
                                    type: organisations
                                forms:
                                  data:
                                    - id: 9dde7329-59ee-45f3-affa-6f18a857b27a
                                      type: forms
                              meta:
                                created_at: 2025-05-06T18:37:12Z
                                updated_at: 2025-05-07T21:12:46Z
                                counts:
                                  forms: 1
                  - type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          features:
                            type: object
                            properties:
                              include:
                                type: object
                                properties:
                                  options:
                                    type: array
                                    items:
                                      type: string
                                      examples:
                                        - related.resource
                          pagination:
                            type: object
                            properties:
                              counts:
                                type: object
                                properties:
                                  pages:
                                    type: integer
                                    examples:
                                      - 1
                                  resources:
                                    type: integer
                                    examples:
                                      - 1
                              current_page:
                                type: integer
                                examples:
                                  - 1
                              offsets:
                                type: object
                                properties:
                                  next:
                                    type: integer
                                    examples:
                                      - null
                                  previous:
                                    type: integer
                                    examples:
                                      - null
                              requested:
                                type: object
                                properties:
                                  limit:
                                    type: integer
                                    examples:
                                      - 10
                                  offset:
                                    type: integer
                                    examples:
                                      - 0
                  - type: object
                    properties:
                      jsonapi:
                        type: object
                        properties:
                          version:
                            type: string
                            description: The version of the JSON API specification
                            examples:
                              - "1.0"
        "400":
          description: |
            There was an error with the request - this could be due to an invalid body, query parameters,
            or headers that were sent to the API.
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: >-
                            A unique identifier for this particular occurrence of the problem. If you encounter this, please provide us with the error ID and we can investigate it on our side.
                          type: string
                          format: uuid
                          examples: ["05fc9c8d-73b9-4697-9337-57f7a567a48f"]
                        status:
                          description: >-
                            The status code for the error. This might not match the HTTP status code if there are more that one errors to return with different status codes.
                          type: string
                          examples: ["401", "500"]
                        title:
                          description: >-
                            A human readable title for the error.
                          type: string
                          examples:
                            ["You are not authorised to access this resource"]
                        detail:
                          description: >-
                            Where there is more detail that we can provide outside of the title, we will provide it here.
                          type: string
                          examples:
                            [
                              "In order to access this resource, you need the 'admin' role.",
                            ]
                        code:
                          description: >-
                            A unique code for the error that may help us to diagnose the issue. Not all errors have codes, so this is usually empty.
                          type: string
                          examples: ["AUTH.001"]
                        source:
                          description: >-
                            A JSON object containing additional information about the error.
                          type: object
                          properties:
                            pointer:
                              description: >-
                                A JSON Pointer to the value in the request that caused the error.
                              type: string
                              examples: ["/data/attributes/email"]
                            parameter:
                              description: >-
                                A string indicating which query parameter in the request caused the error.
                              type: string
                              examples: ["include"]
                          meta:
                            description: >-
                              A JSON object containing additional information about the error.

                              When a parameter caused the error, there will be a `resource` property with the name of the resource that caused the error.
                            type: object
                      required:
                        - id
                        - status
                        - title
              example:
                errors:
                  - id: 98ca4a78-b66f-4234-9719-aaf832ee6669
                    status: "400"
                    title: A validation error was encountered
                    source:
                      parameter: include
                    meta:
                      resource: wrong_value
        "401":
          description: Authentication failed
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: >-
                            A unique identifier for this particular occurrence of the problem. If you encounter this, please provide us with the error ID and we can investigate it on our side.
                          type: string
                          format: uuid
                          examples: ["05fc9c8d-73b9-4697-9337-57f7a567a48f"]
                        status:
                          description: >-
                            The status code for the error. This might not match the HTTP status code if there are more that one errors to return with different status codes.
                          type: string
                          examples: ["401", "500"]
                        title:
                          description: >-
                            A human readable title for the error.
                          type: string
                          examples:
                            ["You are not authorised to access this resource"]
                        detail:
                          description: >-
                            Where there is more detail that we can provide outside of the title, we will provide it here.
                          type: string
                          examples:
                            [
                              "In order to access this resource, you need the 'admin' role.",
                            ]
                        code:
                          description: >-
                            A unique code for the error that may help us to diagnose the issue. Not all errors have codes, so this is usually empty.
                          type: string
                          examples: ["AUTH.001"]
                        source:
                          description: >-
                            A JSON object containing additional information about the error.
                          type: object
                          properties:
                            pointer:
                              description: >-
                                A JSON Pointer to the value in the request that caused the error.
                              type: string
                              examples: ["/data/attributes/email"]
                            parameter:
                              description: >-
                                A string indicating which query parameter in the request caused the error.
                              type: string
                              examples: ["include"]
                          meta:
                            description: >-
                              A JSON object containing additional information about the error.

                              When a parameter caused the error, there will be a `resource` property with the name of the resource that caused the error.
                            type: object
                      required:
                        - id
                        - status
                        - title
              example:
                errors:
                  - id: 05fc9c8d-73b9-4697-9337-57f7a567a48f
                    status: "401"
                    title: You are not authorised to access this resource
                    detail: In order to access this resource, you need the 'admin' role.
                    code: AUTH.001
        "500":
          description: There was a problem handling the request on the server side
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: >-
                            A unique identifier for this particular occurrence of the problem. If you encounter this, please provide us with the error ID and we can investigate it on our side.
                          type: string
                          format: uuid
                          examples: ["05fc9c8d-73b9-4697-9337-57f7a567a48f"]
                        status:
                          description: >-
                            The status code for the error. This might not match the HTTP status code if there are more that one errors to return with different status codes.
                          type: string
                          examples: ["401", "500"]
                        title:
                          description: >-
                            A human readable title for the error.
                          type: string
                          examples:
                            ["You are not authorised to access this resource"]
                        detail:
                          description: >-
                            Where there is more detail that we can provide outside of the title, we will provide it here.
                          type: string
                          examples:
                            [
                              "In order to access this resource, you need the 'admin' role.",
                            ]
                        code:
                          description: >-
                            A unique code for the error that may help us to diagnose the issue. Not all errors have codes, so this is usually empty.
                          type: string
                          examples: ["AUTH.001"]
                        source:
                          description: >-
                            A JSON object containing additional information about the error.
                          type: object
                          properties:
                            pointer:
                              description: >-
                                A JSON Pointer to the value in the request that caused the error.
                              type: string
                              examples: ["/data/attributes/email"]
                            parameter:
                              description: >-
                                A string indicating which query parameter in the request caused the error.
                              type: string
                              examples: ["include"]
                          meta:
                            description: >-
                              A JSON object containing additional information about the error.

                              When a parameter caused the error, there will be a `resource` property with the name of the resource that caused the error.
                            type: object
                      required:
                        - id
                        - status
                        - title
              example:
                errors:
                  - id: fe9d9a69-f0a7-4fdc-bb2c-176027f316c5
                    status: "500"
                    title: Internal Server Error
                    detail: An unexpected error occurred on the server.
      security:
        - Session: []
        - OAuth2: []
        - Cookie: []
    post:
      operationId: CreateFormCategory
      summary: Create a new form category
      description: Create a new form category.
      tags:
        - Forms
      parameters:
        - in: path
          name: org_id
          description: A unique identifier for an Organisation.
          required: true
          schema:
            type: string
            format: uuid
            minimum: 1
          example: c000c344-8847-47da-a091-32e75902d3b1
      requestBody:
        description: Create a form category.
        content:
          application/vnd.api+json:
            schema:
              allOf:
                - type: object
                  required:
                    - data
                  properties:
                    data:
                      type: object
                      required:
                        - type
                        - attributes
                      properties:
                        type:
                          type: string
                          enum: [form-categories]
                          default: form-categories
                        attributes:
                          type: object
                          required:
                            - name
                          properties:
                            name:
                              type: string
                        relationships:
                          type: object
                          properties:
                            organisation:
                              type: object
                              properties:
                                data:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    type:
                                      type: string
                                      enum: [organisations]
                                      default: organisations
                            forms:
                              type: object
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum: [forms]
                                        default: forms
                        meta:
                          type: object
                          properties:
                            created_at:
                              type: string
                              format: date-time
                            updated_at:
                              type: string
                              format: date-time
                            counts:
                              type: object
                              properties:
                                forms:
                                  type: integer
                                  description: The number of forms in this category.
                                  format: int64
                                  minimum: 0
                                  default: 0
                      examples:
                        - type: form-categories
                          attributes:
                            name: Important Forms
                - type: object
                  properties:
                    jsonapi:
                      type: object
                      properties:
                        version:
                          type: string
                          description: The version of the JSON API specification
                          examples:
                            - "1.0"
      responses:
        "200":
          description: Create a form category.
          headers:
            Content-Type:
              description: >-
                The content type of the response
              schema:
                type: string
              example: application/vnd.api+json
            Content-Length:
              description: >-
                The length of the response body in bytes
              schema:
                type: integer
                format: int32
              example: 1234
            X-Request-ID:
              description: >-
                An ID that can be provided when reporting bugs to help identify the issue
              schema:
                type: string
              example: 8470f56af4cf25e22be08e72c70dbbdc
          content:
            application/vnd.api+json:
              schema:
                allOf:
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        allOf:
                          - type: object
                            required:
                              - type
                              - attributes
                            properties:
                              type:
                                type: string
                                enum: [form-categories]
                                default: form-categories
                              attributes:
                                type: object
                                required:
                                  - name
                                properties:
                                  name:
                                    type: string
                              relationships:
                                type: object
                                properties:
                                  organisation:
                                    type: object
                                    properties:
                                      data:
                                        type: object
                                        properties:
                                          id:
                                            type: string
                                            format: uuid
                                          type:
                                            type: string
                                            enum: [organisations]
                                            default: organisations
                                  forms:
                                    type: object
                                    properties:
                                      data:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            id:
                                              type: string
                                              format: uuid
                                            type:
                                              type: string
                                              enum: [forms]
                                              default: forms
                              meta:
                                type: object
                                properties:
                                  created_at:
                                    type: string
                                    format: date-time
                                  updated_at:
                                    type: string
                                    format: date-time
                                  counts:
                                    type: object
                                    properties:
                                      forms:
                                        type: integer
                                        description: The number of forms in this category.
                                        format: int64
                                        minimum: 0
                                        default: 0
                            examples:
                              - type: form-categories
                                attributes:
                                  name: Important Forms
                          - type: object
                            required:
                              - id
                            properties:
                              id:
                                type: string
                                format: uuid
                        examples:
                          - id: ad0204e1-ad22-46d5-9ae4-e62ca963724d
                            type: form-categories
                            attributes:
                              name: Important Forms
                            relationships:
                              organisation:
                                data:
                                  id: c000c344-8847-47da-a091-32e75902d3b1
                                  type: organisations
                              forms:
                                data:
                                  - id: 9dde7329-59ee-45f3-affa-6f18a857b27a
                                    type: forms
                            meta:
                              created_at: 2025-05-06T18:37:12Z
                              updated_at: 2025-05-07T21:12:46Z
                              counts:
                                forms: 1
                  - type: object
                    properties:
                      jsonapi:
                        type: object
                        properties:
                          version:
                            type: string
                            description: The version of the JSON API specification
                            examples:
                              - "1.0"
        "400":
          description: |
            There was an error with the request - this could be due to an invalid body, query parameters,
            or headers that were sent to the API.
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: >-
                            A unique identifier for this particular occurrence of the problem. If you encounter this, please provide us with the error ID and we can investigate it on our side.
                          type: string
                          format: uuid
                          examples: ["05fc9c8d-73b9-4697-9337-57f7a567a48f"]
                        status:
                          description: >-
                            The status code for the error. This might not match the HTTP status code if there are more that one errors to return with different status codes.
                          type: string
                          examples: ["401", "500"]
                        title:
                          description: >-
                            A human readable title for the error.
                          type: string
                          examples:
                            ["You are not authorised to access this resource"]
                        detail:
                          description: >-
                            Where there is more detail that we can provide outside of the title, we will provide it here.
                          type: string
                          examples:
                            [
                              "In order to access this resource, you need the 'admin' role.",
                            ]
                        code:
                          description: >-
                            A unique code for the error that may help us to diagnose the issue. Not all errors have codes, so this is usually empty.
                          type: string
                          examples: ["AUTH.001"]
                        source:
                          description: >-
                            A JSON object containing additional information about the error.
                          type: object
                          properties:
                            pointer:
                              description: >-
                                A JSON Pointer to the value in the request that caused the error.
                              type: string
                              examples: ["/data/attributes/email"]
                            parameter:
                              description: >-
                                A string indicating which query parameter in the request caused the error.
                              type: string
                              examples: ["include"]
                          meta:
                            description: >-
                              A JSON object containing additional information about the error.

                              When a parameter caused the error, there will be a `resource` property with the name of the resource that caused the error.
                            type: object
                      required:
                        - id
                        - status
                        - title
              example:
                errors:
                  - id: 98ca4a78-b66f-4234-9719-aaf832ee6669
                    status: "400"
                    title: A validation error was encountered
                    source:
                      parameter: include
                    meta:
                      resource: wrong_value
        "401":
          description: Authentication failed
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: >-
                            A unique identifier for this particular occurrence of the problem. If you encounter this, please provide us with the error ID and we can investigate it on our side.
                          type: string
                          format: uuid
                          examples: ["05fc9c8d-73b9-4697-9337-57f7a567a48f"]
                        status:
                          description: >-
                            The status code for the error. This might not match the HTTP status code if there are more that one errors to return with different status codes.
                          type: string
                          examples: ["401", "500"]
                        title:
                          description: >-
                            A human readable title for the error.
                          type: string
                          examples:
                            ["You are not authorised to access this resource"]
                        detail:
                          description: >-
                            Where there is more detail that we can provide outside of the title, we will provide it here.
                          type: string
                          examples:
                            [
                              "In order to access this resource, you need the 'admin' role.",
                            ]
                        code:
                          description: >-
                            A unique code for the error that may help us to diagnose the issue. Not all errors have codes, so this is usually empty.
                          type: string
                          examples: ["AUTH.001"]
                        source:
                          description: >-
                            A JSON object containing additional information about the error.
                          type: object
                          properties:
                            pointer:
                              description: >-
                                A JSON Pointer to the value in the request that caused the error.
                              type: string
                              examples: ["/data/attributes/email"]
                            parameter:
                              description: >-
                                A string indicating which query parameter in the request caused the error.
                              type: string
                              examples: ["include"]
[...]
